<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle Game</title>
    <link rel="stylesheet" type="text/css" href="../static/base.css"/>
</head>
<body>
    <div class="text">
    <h1 class="h1">Boggle Game</h1>
    {% block content %}{% endblock %}
    <script src="/static/boggle.js"></script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
</html>